@font-face {
	font-family: 'icomoon-ultimate';
	src:url('fonts/icomoon-ultimate.eot');
	src:url('fonts/icomoon-ultimate.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon-ultimate.woff') format('woff'),
		url('fonts/icomoon-ultimate.ttf') format('truetype'),
		url('fonts/icomoon-ultimate.svg#icomoon-ultimate') format('svg');
	font-weight: normal;
	font-style: normal;
}

.image-upload{
	height: 200px;
	margin-bottom: 50px;
	width: 200px;
}

.image-upload .image-placeholder{
	background-color: #c1dde8;
	cursor: pointer;
	height: 100%;
	position: relative;
}

.image-upload .image-placeholder::after{	
	bottom: 20%;
	color: #fff;
	content: 'Image';
	font: bold 25px "Arial";
	position: absolute;
	text-align: center;
	width: 100%;
}

.image-upload .image-placeholder::before{
	color: #fff;
	content: "\e01d";
	font: normal normal normal 66px 'icomoon-ultimate';
	line-height: 1;
	position: absolute;
	speak: none;
	text-align: center;	
	text-transform: none;
	top: 22%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
}

.image-upload .upload-input-action{
	display: none;
}






.button{
	height: 30px;
	width: 30pc;
	background-color: #ccc;
	cursor: pointer;
}